server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://product-service:8082
          predicates:
            - Path=/rest/api/products/**
        - id: order-service
          uri: http://order-service:8081
          predicates:
            - Path=/rest/api/orders/**

        - id: notification-service
          uri: http://notification-service:8083
          predicates:
            - Path=/rest/api/notifications/**