server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/rest/api/products/**

        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/rest/api/orders/**

        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/rest/api/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/